In [1]:
import pandas as pd

In [5]:
data=pd.read_csv('bio-degradabale-data.csv',sep=';',header=None)
data.rename(columns={41: "Output"},inplace=True)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,Output
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [6]:
data.isna().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
36        0
37        0
38        0
39        0
40        0
Output    0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
train,test=train_test_split(data,test_size=0.3,random_state=4)
print(train.shape)
print(test.shape)

(738, 42)
(317, 42)

In [11]:
train_x=train.iloc[:,:-1]
train_y=train.iloc[:,-1]
test_x=test.iloc[:,:-1]
test_y=test.iloc[:,-1]

In [12]:
from sklearn.ensemble import AdaBoostClassifier
model=AdaBoostClassifier(n_estimators=30,random_state=7)
model.fit(train_x,train_y)
y_pred=model.predict(test_x)
metrics.accuracy_score(test_y,y_pred)

0.8138801261829653

In [ ]:
##If you need to reduce dimensionality PCA can be used , but without pca has better model accuracy than with pca for adaboost for this data

In [13]:
data2=pd.read_csv('bio-degradabale-data.csv',sep=';',header=None)
data2.rename(columns={41: "Output"},inplace=True)
data2.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,Output
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [28]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(data2['Output'])
data2['Output']=le.transform(data2['Output'])

In [29]:
data2.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,Output
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,1
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,1
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,1
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,1
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,1

In [32]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(data2.iloc[:,:-1])
existing_2d = pca.transform(data2.iloc[:,:-1])
existing_df_2d = pd.DataFrame(existing_2d)
existing_df_2d.index = data2.index
existing_df_2d.columns = ['PC1','PC2']
existing_df_2d.head()

         PC1        PC2
0 -10.218343  -5.545258
1 -10.006109  -5.785301
2 -10.034473 -10.255766
3  -3.060507 -17.208183
4   0.503135  -8.508999

In [33]:
existing_df_2d['Ouput']=data2['Output']

In [34]:
train,test=train_test_split(existing_df_2d,test_size=0.3,random_state=4)
print(train.shape)
print(test.shape)
train_x=train.iloc[:,:-1]
train_y=train.iloc[:,-1]
test_x=test.iloc[:,:-1]
test_y=test.iloc[:,-1]

(738, 3)
(317, 3)

In [37]:
model=AdaBoostClassifier(n_estimators=30,random_state=7)
model.fit(train_x,train_y)
y_pred=model.predict(test_x)
metrics.accuracy_score(test_y,y_pred)

0.7097791798107256